include README.md
include LICENSE
include pyproject.toml

# Include all templates
recursive-include django_scotty/templates *

# Include all static files
recursive-include django_scotty/static *

# Exclude Python bytecode
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *$py.class
global-exclude *.so
global-exclude .DS_Store
